<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100 mt-4" style="width: 250px;">
          <div class="card-body">
            <div class="card-img">
              <img src="../assets/profile2.jpg" height="140px" class="rounded mx-auto d-block" width="75%" style="border-radius: 100px;" alt="">
            </div>
            <div class="card-body">
              <div class="card-title">Elisabeth</div>
                  <div class="card-subtitle">Elsa@gmail.com</div>
            </div>
            <div class="card-footer">
              <h4 class="mt-4 about">About</h4>
                  <p>I'm Elsa.A Web Designer would like to create responsive single page web Applications</p>
          </div>
          </div>
        </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <app-child></app-child>
      </div>
    </div>
  </div>
</body>
</html>